/* .color {
    color: rgb(30, 215, 96) !important;
}


.center {
    text-align: center;
}

.panel-title {
    color: white !important;
}

.panel-heading {
    background-color: rgb(30, 215, 96) !important;
}


body {
    background-color: black !important;
}


h1 {
    color: white !important;
}

h3 {
    color: white !important;
}

h5 {
    color: white !important;
}


p {
    color: white !important;
} */